h1 {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-weight: 900;
    white-space: nowrap;
    
}

h2 {
    font-family: var(--heading-font-family);
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
}

*,
::before,
::after {
    font-family: var(--regular-font-family);
    font-size: var(--regular-font-size);
    font-weight: var(--regular-font-weight);
}