@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
:root {
  --big-content-width: 90rem;
  --heading-font-family: "Sacramento", cursive;
  --secondary-font-family: 'Oswald', sans-serif;
  --regular-font-family: 'Oswald', sans-serif;
  --heading-font-size: 10rem;
  --secondary-font-size: 5rem;
  --regular-font-size: 1.7rem;
  --secondary-font-weight: 600;
  --regular-font-weight: 400;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #eaebe8;
  --color-blue-light: #6D9AA0;
  --color-blue-dark: #2f5568a2;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --rgba-grey-dark-1: rgba(51, 51, 51, .1);
  --shadow-dark: 0 .5rem .5rem rgba(0, 0, 0, .2);
  --shadow-light: 0 1rem 2rem rgba(0,0,0,.1);
  --text-shadow-light: 2px 2px rgba(#000, .4);
  --text-shadow-blue: -2px -2px 0 var(--color-blue-light);
  --border-radius-small: 3px; }

/* 

    MEDIA QUERY MANAGER
        0 - 600px: Phone.
        600 - 900px: Tablet Portrait.
        900 - 1200px: Tablet Landscape.
        [1200 - 1800] is normal styling.
        1800px + : Big Desktop.

    $breakpoint argument choices:
        - Phone
        - Tab-Port
        - Tab-Land
        - Big-Desktop
        
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* == 1 rem == 10px */ }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

section {
  display: grid;
  justify-items: center;
  padding: 4rem 0; }

@keyframes parallax {
  to {
    transform: translateY(20rem); } }

@keyframes project-item-fade {
  0% {
    opacity: 100%; }
  50% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

@keyframes item-shake {
  0% {
    transform: rotate(0deg); }
  33% {
    transform: rotate(2deg); }
  66% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(0); } }

.header__title--main {
  text-shadow: 1.5px 1.5px rgba(255, 255, 255, 0.4); }
  .header__title--main::after {
    content: "Software Developer";
    text-shadow: none;
    font-size: 3rem;
    position: absolute;
    bottom: 0.75rem;
    right: 0rem;
    color: var(--color-black);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2); }

.content-view {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .content-view__background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    background-image: url("../../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: parallax 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both; }
  .content-view__header-wrapper {
    width: 100vw;
    height: 100vh; }
  .content-view__header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 43%; }

#about-me {
  position: relative;
  background-color: #EAEBE8;
  color: var(--color-grey-dark-1);
  z-index: 0; }
  #about-me__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    position: relative;
    width: var(--big-content-width); }
  #about-me__text {
    margin-left: 3rem; }
  #about-me__header {
    font-size: 2.1rem;
    font-weight: 600; }
    #about-me__header span {
      font-family: var(--heading-font-family);
      font-size: 3rem;
      font-weight: 900; }
  #about-me__picture {
    width: 15rem;
    height: 15rem;
    background-size: cover;
    background-image: url("../../img/me.jpg");
    background-position: center;
    border-radius: 100%;
    margin: 2rem;
    position: inherit;
    justify-self: end; }
    #about-me__picture::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 112%;
      width: 112%;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      background-color: var(--color-grey-dark-1);
      border-radius: 100%;
      z-index: -1; }

#skills {
  overflow: hidden;
  position: relative; }
  #skills__background {
    position: absolute;
    top: 0;
    z-index: -500;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../../img/background_skills.jpg"); }
  #skills__header {
    margin-bottom: 1rem;
    color: var(--color-grey-dark-1);
    text-shadow: var(--text-shadow-blue);
    font-family: var(--heading-font-family); }
  #skills__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3rem; }

.skills__group {
  position: relative;
  background-color: var(--rgba-grey-dark-1);
  box-shadow: var(--shadow-dark);
  padding: 3rem;
  margin: .5rem;
  transition: all .2s;
  overflow: hidden; }
  .skills__group:hover {
    transform: scale(1.03); }
  .skills__group:hover .skills__group--name {
    color: var(--color-primary); }
  .skills__group--name {
    position: absolute;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    font-family: var(--secondary-font-family);
    color: var(--color-blue-dark);
    font-size: 4rem;
    font-weight: 900;
    transition: all .2s .1s;
    line-height: 0.9;
    z-index: 1; }
  .skills__group--list {
    position: relative;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-gap: 1rem;
    z-index: 2; }

.skills__skill {
  background-color: var(--color-grey-light-4);
  box-shadow: var(--shadow-dark);
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-items: center;
  width: 12rem;
  height: 3rem;
  transition: all .2s; }
  .skills__skill--image {
    width: 2.5rem;
    height: 2.5rem; }
  .skills__skill--image-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: var(--color-grey-light-3); }
  .skills__skill--text {
    font-weight: 350; }
  .skills__skill:hover {
    animation: item-shake ease-in .3s; }

#projects {
  background-color: var(--color-primary); }
  #projects__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: var(--big-content-width);
    margin-top: 3rem;
    background-color: orangered; }
    #projects__content--bar-main {
      width: var(--big-content-width);
      display: flex;
      justify-content: space-around; }
      #projects__content--bar-main[animation='1'] {
        animation: project-item-fade 1s 1; }
    #projects__content--bar-side {
      width: 0; }

.bar-main__item {
  background-color: var(--color-blue-light);
  margin: 1rem;
  height: 12rem;
  width: 18rem;
  list-style: none; }

.default-bar-pos {
  flex-direction: row; }

.side-bar-pos {
  flex-direction: column; }

.divider {
  width: 100vw;
  height: 1rem;
  position: absolute;
  bottom: 0;
  background-color: var(--color-grey-dark-1);
  box-shadow: var(--shadow-dark); }

h1 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  font-weight: 900;
  white-space: nowrap; }

h2 {
  font-family: var(--heading-font-family);
  font-size: var(--secondary-font-size);
  font-weight: var(--secondary-font-weight); }

*,
::before,
::after {
  font-family: var(--regular-font-family);
  font-size: var(--regular-font-size);
  font-weight: var(--regular-font-weight); }
