#skills {

    overflow: hidden;
    position: relative;

   &__background {

        position: absolute;
        top: 0;

        z-index: -500;

        width: 100%;
        height: 100%;

        background-size: cover;
        background-image: url('../../img/background_skills.jpg');

    }

    &__header {
        margin-bottom: 1rem;
        color: var(--color-grey-dark-1);
        text-shadow: var(--text-shadow-blue);

        font-family: var(--heading-font-family);
    }

    &__content {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);

        grid-gap: 3rem;
    
    }

}

.skills {

    &__group {
    
        position: relative;

        background-color: var(--rgba-grey-dark-1);
        box-shadow: var(--shadow-dark);

        padding: 3rem;
        margin: .5rem;

        transition: all .2s;

        overflow: hidden;

        &:hover {
            transform: scale(1.03);
        }

        &:hover &--name {
            color: var(--color-primary);
        }

        &--name {
            position: absolute;
            left: 0;
            bottom: 0;
            
            text-transform: uppercase;
            font-family: var(--secondary-font-family);
            color: var(--color-blue-dark);
            font-size: 4rem;
            font-weight: 900;
            
            transition: all .2s .1s;

            line-height: 0.9;
            z-index: 1;
        }

        &--list {
            position: relative;
            list-style: none;
    
            display: grid;
            grid-template-columns: repeat(5, max-content);
            grid-gap: 1rem;
            z-index: 2;
        }
    }

    &__skill {

        background-color: var(--color-grey-light-4);
        box-shadow: var(--shadow-dark);

        display: grid;
        grid-template-columns: max-content 1fr;

        align-items: center;
        justify-items: center;

        width: 12rem;
        height: 3rem;

        transition: all .2s;

        &--image {
            width: 2.5rem;
            height: 2.5rem;
        }

        &--image-container {
            display: grid;
            justify-content: center;
            align-items: center;
            height: 3rem;
            width: 3rem;
            background-color: var(--color-grey-light-3);
        }

        &--text {
            font-weight: 350;
        }

        &:hover {
            animation: item-shake ease-in .3s;
        }
    }

}